/* Definindo a aparência global para modo escuro */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #1e3a8a;
    color: #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html, body {
    height: 100%;
    margin: 0;
}

.main-content {
    flex-grow: 1;
}

.dropdown {
    display: flex;
    justify-content: center;
}

.btn-dropdown {
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 20px;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #f1c40f;
    margin-top: 100px;
}

.dropdown-menu {
    border: none;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.dropdown-menu li a {
    color: #f1c40f;
}

/* Header */
.header {
    color: #ffffff;
    padding: 30px 0 0;
    text-align: center;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #50a7ff; /* Azul claro */
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
}

/* Seções */
.section {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
}

/* Card */
.card {
    background-color: #333333;
    border: 1px solid #444444; /* Borda um pouco mais clara para destaque */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.time-slot {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #f1c40f;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #dcdcdc;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.list li {
    margin-bottom: 10px;
    width: calc(50% - 7.5px); /* Dois links por linha */
}

.link {
    text-decoration: none;
    color: #50a7ff; /* Azul claro */
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    padding: 10px;
    background-color: #444444; /* Fundo dos links */
    border-radius: 6px;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.link:hover {
    color: #f1c40f; /* Amarelo ao passar o mouse */
    background-color: #1e3a8a; /* Azul ao passar o mouse */
    transform: translateX(5px);
}

/* Cor amarela para os números das aulas */
.subtitle.aula {
    color: #f1c40f; /* Amarelo */
    font-weight: bold;
}

/* Linha de separação abaixo dos links */
.link + .link {
    border-top: 2px solid #555; /* Linha cinza escura separando os links */
}

.footer {
    text-align: center;
    padding: 0 0 20px;
    margin-top: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-content {
        padding: 10px;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .time-slot {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .link {
        font-size: 1rem;
    }

    .list li {
        width: 100%; /* Links ocupam toda a largura em dispositivos móveis */
    }
}
