@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Titillium Web', 'Arial';
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e3a8a, #f1c40f);
}

.header {
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
    position: relative;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: whitesmoke;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    font-style: italic;
    color: #f1c40f;
    letter-spacing: 1px;
    margin: 10px 0;
}

.aula {
    font-size: 1rem;
    color: #deac54;
    font-style: normal;
}

.title,
.subtitle,
.time-slot,
a,
p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.title {
    animation-delay: 0.3s;
}

.subtitle,
.aula {
    animation-delay: 0.6s;
}

.time-slot,
a,
p {
    animation-delay: 0.9s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Seções */
.section {
    color: whitesmoke;
    max-width: 70%;
    margin: 20px auto;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Estilo de Títulos e Listas */
.time-slot {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f1c40f;
}

.list {
    margin-left: 20px;
}

p,
li {
    font-size: 1rem;
    line-height: 1.6;
    color: #bababa;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 20px;
}

ul li::before {
    content: "•";
    color: #f1c40f;
    position: absolute;
    left: 0;
    top: 0;
}

a,
strong {
    color: whitesmoke;
    text-decoration: none;
}

em {
    color: #deac54;
}

img {
    height: 300px;
    border-radius: 10px;
    border: 2px solid #deac54;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.vertical {
    height: 550px;
}

.cropped {
    width: 350px;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #deac54;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.cropped-vert {
    height: 550px;
    width: 380px;
    overflow: hidden;
    border: 2px solid #deac54;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.photo-cut {
    margin: -20px 0;
}

.footer {
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    .time-slot {
        font-size: 1.2rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .section {
        max-width: 90%;
        margin: 40px auto;
        padding: 20px;
    }

    .list {
        margin-left: 5px;
    }
}

@media (max-width: 768px) {
    .section {
        max-width: 80%;
        margin: 10px auto;
    }
}