body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e3a8a, #f59e0b); 

}

.header {
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    position: relative;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    font-style: italic;
    color: #f59e0b;
    letter-spacing: 1px;
    margin: 10px 0;
}

/* Efeitos de Transição */
.title, .subtitle {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.title {
    animation-delay: 0.3s;
}

.subtitle {
    animation-delay: 0.6s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Seções */
.section {
    background: rgb(38, 38, 38);
    color: white;
    padding: 20px 50px;
    max-width: 1200px;
    margin: 40px auto;
    border: 1px solid #f59e0b;
    border-radius: 8px;
}

/* Estilo de Títulos e Listas */
.time-slot {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #f59e0b;
}

.section p {
    color: #deac54;
}

.list {
    margin-left: 20px;
}

.list li {
    font-size: 1rem;
    line-height: 1.6;
    color: #bababa;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    position: relative;
    padding-left: 20px;
}

ul li::before {
    content: "•";
    color: #f59e0b;
    position: absolute;
    left: 0;
    top: 0;
}

a {
    color: white;
    text-decoration: none;
}

strong {
    color: white;
}

.footer {
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    .time-slot {
        font-size: 1.2rem;
    }

    .goal, .subtitle {
        font-size: 1rem;
    }
}
